
.bcg {
  background-color: black;
  height: 100%;
  /* background-position: center;
  background-repeat: repeat;
  background-size: cover; */
  /* opacity:%; */
}

#nav {
  background-color: lightslategray;
  text-align: center;
  opacity: 90%;
}

.textCenter {
  text-align: center;
}