.App {
  text-align: center;
}

.bg {
  background-color: #ececec;
  height: 100%;
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  /* opacity:%; */
}

#nav {
  background-color: black;
  text-align: center;
  color: white;
}